.nullCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nullText {
    font-size: 3rem;
}

.userGreet {
    margin-top: 50px;
}