.main-container {
    margin-top: 20px;
}

.parkRow {
    margin-top: 15px;
}

.parkListCard {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 81rem;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.parkListCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parkView {
    padding: 10px;
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.parkTitle {
    width: 600px;
    margin-bottom: 0.5rem;
}

.cardText {
    margin-bottom: 0.25rem;
}

.parkLink {
    margin-top: auto;
}

.searchBtn {
    background-color: green;
    border-color: green;
    color: white;
}
