.parkCard {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 81rem;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hikeCard {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hikeCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.campCard {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.campCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addBtn {
    background-color: green;
    border-color: green;
    position: absolute;
    top: 10px;
    right: 10px;
}
