.nullCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nullText {
    font-size: 3rem;
}

.userGreet {
    margin-top: 50px;
}

.logLink {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textField textarea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textField input,
.textField textarea {
    margin-bottom: 10px;
}

.textField input[type="text"] {
    width: 800px;
}

.textField textarea {
    width: 600px;
    height: 200px;
    resize: vertical;
}

.submitBtn {
    background-color: green;
    border-color: green;
    color: white;
    margin-bottom: 20px;
}

.submitBtn:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.tripCard {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 81rem;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tripCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tripTitle {
    width: 600px;
    margin-bottom: 0.5rem;
}

.tripText {
    margin-bottom: 0.25rem;
}

.deleteBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}